<html>
    <head>
        <title>My Template</title>
    </head>
    <body>
        <dl>
            <dt>request.user</dt>
            <dd>{{ request.user }}</dd>
            <dt>messages</dt>
            <dd>
                {% for m in messages %}"{{ m }}" [{{ m.tags }}]<br />{% empty %}(none){% endfor %}
            </dd>
            <dt>persistent messages</dt>
            <dd>
                {% for m in persistent_messages %}"{{ m }}" [{{ m.tags }}]<br />{%empty%}-{%endfor%}
            </dd>
            <dt>all messages</dt>
            <dd>
                {% for m in all_messages %} "{{ m }}" [{{ m.tags }}]<br />{%empty%}(n){%endfor%}
            </dd>
        </dl>
        <hr />
        <pre>{% debug %}</pre>
    </body>
</html>
